<div class="video-list d-flex flex-column px-1">
  <div class="title d-flex">
    <h5 class="my-auto ml-2">
      Related videos
    </h5>
  </div>
  <div *ngIf="videoDetails.length === 0; else displayVideo">
    
  </div>
  <ng-template #displayVideo>
    <div class="related">
      <div *ngFor="let related of relatedVideos?.items">
        <div class="related-video-container mb-2" (click)="playVideo(related)">
          <div class="thumbnail">
            <img src="{{related?.snippet?.thumbnails?.default?.url}}" alt="">
          </div>
          <div class="details">
            <div class="related-title mb-2"> {{ related?.snippet?.title }} </div>
            <div class="description"> {{ related?.snippet?.description }} </div>
          </div>
        </div>
      </div>
    </div>
  </ng-template>
</div>